{% extends 'base.html.twig' %}

{% block title %}Домашняя страница
{% endblock %}

{% block wrap_main_nav %}
	<!--  -->
	<div class="wrap-main-nav">
		<div
			class="main-nav">
			<!-- Menu desktop -->
			<nav class="menu-desktop">
				<a class="logo-stick" href="{{ path('hоme_page') }}">
					<img src={{ asset("logopath") }} alt="LOGO">
				</a>

				<ul class="main-menu">
					{# <li>
						<a>Главная</a>
						<ul class="sub-menu">
							<li>
								<a href="{{ path('hоme_page') }}">Домашняя</a>
							</li>
						</ul>
					</li> #}

					<li class="mega-menu-item">
						<a href="#">Новости</a>

						<div class="sub-mega-menu">
							<div class="nav flex-column nav-pills" role="tablist">
								<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">Все</a>
								{% for key,itemTopic in itemsTopic %}
									<a class="nav-link" data-toggle="pill" href="#news-{{loop.index}}" role="tab">{{itemTopic.getName()}}</a>
								{% endfor %}

							</div>

							<div class="tab-content">
								<div class="tab-pane show active" id="news-0" role="tabpanel">
									<div class="row">
										{% for itemColl in itemsCollection|slice(0,9) %}
											<div
												class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src={{asset('images/collection/' ~ itemColl.getImg())}} alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																{{ itemColl.getName() }}
															</a>
														</h5>

														<span class="cl8">
															<a href="{{ path('topic',{id: itemColl.getTopic().id()}) }}" class="f1-s-6 cl8 hov-cl10 trans-03">
																{{ itemColl.getTopic() }}
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																{{ itemColl.getCreateDate()| date("d-m-Y H:i:s")}}
															</span>
														</span>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									<h3>
										<a style="text-align: end;" href="#" class="f1-m-3 cl2 hov-cl10 trans-03 ">
											Еще...
										</a>
									</h3>
								</div>
								{% for key,itemTopic in itemsTopic|slice(0,itemsTopic|length) %}
									<div class="tab-pane" id="news-{{loop.index}}" role="tabpanel">
										<div class="row">

											{% for itemColl in itemsCollectionTopic[key]|slice(0,8) %}
												<div
													class="col-3">
													<!-- Item post -->
													<div>
														<a href="#" class="wrap-pic-w hov1 trans-03">
															<img src={{asset('images/collection/' ~ itemColl.getImg())}} alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5">
																<a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{ itemColl.getName() }}
																</a>
															</h5>

															<span class="cl8">
																<a href="{{ path('topic',{id: itemColl.getTopic().id() }) }}" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ itemColl.getTopic() }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{ itemColl.getCreateDate()| date("d-m-Y H:i:s")}}
																</span>
															</span>
														</div>
													</div>
												</div>
											{% endfor %}

										</div>
									</div>

								{% endfor %}
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}

{% block body %}
	<body
		class="animsition">

		<!-- Headline -->
		<div class="container">
			<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
				<div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
					<span class="text-uppercase cl2 p-r-8">
						Актуальные:
					</span>

					<span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
						{% for key,item in itemsCollection|slice(0, 3) %}
							<span class="dis-inline-block slide100-txt-item animated visible-false">
								{{ item.name }}
							</span>
						{% endfor %}
					</span>
				</div>

				{# <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
					<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
					<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
						<i class="zmdi zmdi-search"></i>
					</button>
				</div> #}
			</div>
		</div>

		<!-- Feature post -->
		<section class="bg0">
			<div class="container">
				<div class="row m-rl--1">
					<div class="col-md-6 p-rl-1 p-b-2">
						<div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url({{ itemsCollection|length > 0 ? 'images/collection' ~ asset(itemsCollection[0].img) :" " }});">
							{% if itemsCollection|length > 0 %}
								<a href="{{ path('collectionPage',{id: itemsCollection[0].id()}) }}" class="dis-block how1-child1 trans-03"></a>
								<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
									<a href="{{ path('topic',{id: itemsCollection[0].getTopic().id() }) }}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
										{{ itemsCollection[0].getTopic() }}
										
									</a>

									<h3 class="how1-child2 m-t-14 m-b-10">
										<a href="{{ path('collectionPage',{id: itemsCollection[0].id()}) }}" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
											{{ itemsCollection[0].getName() }}
										</a>
									</h3>

									<span class="how1-child2">
										<span class="f1-s-4 cl11">
											<a href="{{ path('profile',{idUser: itemsCollection[0].getUser().id}) }}" class="f1-s-4 cl8 hov-cl10 trans-03">
												{{ itemsCollection[0].getUser().getName() }}
											</a>
										</span>

										<span class="f1-s-3 cl11 m-rl-3">
											-
										</span>

										<span class="f1-s-3 cl11">
											{{ itemsCollection[0].getCreateDate()| date("d-m-Y H:i:s")}}
										</span>
									</span>

								</div>
							{% else %}
								<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
									<h3 class="how1-child2 m-t-14">
										<a class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
											Скоро здесь появится статья.
										</a>
									</h3>
								</div>

							{% endif %}
						</div>
					</div>

					<div class="col-md-6 p-rl-1">
						<div class="row m-rl--1">
							<div class="col-12 p-rl-1 p-b-2">
								<div class="bg-img1 size-a-4 how1 pos-relative" style="background-image: url({{ itemsCollection|length > 1 ? 'images/collection' ~ asset(itemsCollection[1].img) : " "}});">
									{% if itemsCollection|length > 1 %}
										<a href="{{ path('collectionPage',{id: itemsCollection[1].id()}) }}" class="dis-block how1-child1 trans-03"></a>
										<div class="flex-col-e-s s-full p-rl-25 p-tb-24">
											<a href="{{ path('topic',{id: itemsCollection[1].getTopic().id() }) }}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
												{{ itemsCollection[1].getTopic() }}
											</a>

											<h3 class="how1-child2 m-t-14">
												<a href="{{ path('collectionPage',{id: itemsCollection[1].id()}) }}" class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
													{{ itemsCollection[1].getName() }}
												</a>
											</h3>
										</div>
									{% else %}
										<div class="flex-col-e-s s-full p-rl-25 p-tb-24">
											<h3 class="how1-child2 m-t-14">
												<a class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
													Скоро здесь появится статья.
												</a>
											</h3>
										</div>
									{% endif %}
								</div>
							</div>

							<div class="col-sm-6 p-rl-1 p-b-2">
								<div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url({{ itemsCollection|length > 2 ? 'images/collection' ~ asset(itemsCollection[2].img) : " "}});">
									{% if itemsCollection|length > 2 %}
										<a href="{{ path('collectionPage',{id: itemsCollection[2].id()}) }}" class="dis-block how1-child1 trans-03"></a>
										<div class="flex-col-e-s s-full p-rl-25 p-tb-20">

											<a href="{{ path('topic',{id: itemsCollection[2].getTopic().id() }) }}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
												{{ itemsCollection[2].getTopic() }}
											</a>

											<h3 class="how1-child2 m-t-14">
												<a href="{{ path('collectionPage',{id: itemsCollection[2].id()}) }}" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
													{{ itemsCollection[2].getName() }}
												</a>
											</h3>
										</div>
									{% else %}
										<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
											<h3 class="how1-child2 m-t-14">
												<a class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
													Скоро здесь появится статья.
												</a>
											</h3>
										</div>
									{% endif %}
								</div>
							</div>

							<div class="col-sm-6 p-rl-1 p-b-2">
								<div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url({{ itemsCollection|length > 3 ? 'images/collection' ~ asset(itemsCollection[3].img) : " "}});">
									{% if itemsCollection|length > 3 %}
										<a href="#" class="dis-block how1-child1 trans-03"></a>
										<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
											<a href="{{ path('topic',{id: itemsCollection[3].getTopic().id()}) }}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
												{{ itemsCollection[3].getTopic() }}
											</a>

											<h3 class="how1-child2 m-t-14">
												<a href="{{ path('collectionPage',{id: itemsCollection[3].id()}) }}" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
													{{ itemsCollection[3].getName() }}
												</a>
											</h3>
										</div>
									{% else %}
										<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
											<h3 class="how1-child2 m-t-14">
												<a class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
													Скоро здесь появится статья.
												</a>
											</h3>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Post -->
		<section class="bg0 p-t-70">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-8">
						<div
							class="p-b-20">
							<!-- Other -->
							<div class="row">
								{% for key,item in itemsCollectionTopic %}
									<div class="col-sm-6 p-r-25 p-r-15-sr991 p-b-25">
										<div class="how2 how2-cl4 flex-sb-c m-b-35">
											<h3 class="f1-m-2 cl4 tab01-title">
												{{ itemsTopic[key].getName() }}
											</h3>

											<a href="{{ path('topic',{id: itemsTopic[key].id()}) }}" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
												Посмотреть все
												<i class="fs-12 m-l-5 fa fa-caret-right"></i>
											</a>
										</div>

										{% if itemsCollectionTopic[key]|length > 0 %}
											<!-- Main Item post -->
											<div class="m-b-30">
												<a href="{{ path('collectionPage',{id: itemsCollectionTopic[key][0].id()}) }}" class="wrap-pic-w hov1 trans-03">
													<img src={{asset('images/collection/' ~ itemsCollectionTopic[key][0].getImg()) }} alt="IMG">
												</a>

												<div class="p-t-20">
													<h5 class="p-b-5">
														<a href="{{ path('collectionPage',{id: itemsCollectionTopic[key][0].id()}) }}" class="f1-m-3 cl2 hov-cl10 trans-03">
															{{ itemsCollectionTopic[key][0].getName()}}
														</a>
													</h5>

													<span class="cl8">
														<a
															href="{{ path('profile',{idUser: itemsCollectionTopic[key][0].getUser().id}) }}" class="f1-s-4 cl8 hov-cl10 trans-03">
															{# ссылка на блог пользователя#}
															by
															{{ itemsCollectionTopic[key][0].getUser().getName()}}
														</a>

														<span class="f1-s-3 m-rl-3">
															-
														</span>

														<span class="f1-s-3">
															{{ itemsCollectionTopic[key][0].getCreateDate()| date("d-m-Y H:i:s")}}
														</span>
													</span>
												</div>
											</div>

											{% for itemColl in itemsCollectionTopic[key]|slice(1, 2) %}
												<!-- Item post -->
												<div class="flex-wr-sb-s m-b-30">
													<a href="{{ path('collectionPage',{id: itemColl.id()}) }}" class="size-w-1 wrap-pic-w hov1 trans-03">
														<img src={{asset('images/collection/' ~ itemColl.getImg()) }} alt="IMGDonec metus orci, malesuada et lectus vitae">
													</a>

													<div class="size-w-2">
														<h5 class="p-b-5">
															<a href="{{ path('collectionPage',{id: itemColl.id()}) }}" class="f1-s-5 cl3 hov-cl10 trans-03">
																{{ itemColl.getName() }}

															</a>
														</h5>

														<span class="cl8">
															<a href="{{ path('profile',{idUser: itemColl.getUser().id}) }}" class="f1-s-6 cl8 hov-cl10 trans-03">
																by
																{{ itemColl.getUser().getName()}}
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																{{ itemColl.getCreateDate()| date("d-m-Y H:i:s")}}
															</span>
														</span>
													</div>
												</div>
											{% endfor %}
										{% endif %}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="col-md-10 col-lg-4">
						<div
							class="p-l-10 p-rl-0-sr991 p-b-20">
							<!-- Stay Connected -->
							<div class="p-b-35">
								<div class="how2 how2-cl4 flex-s-c">
									<h3 class="f1-m-2 cl3 tab01-title">
										Stay Connected
									</h3>
								</div>

								<ul class="p-t-35">
									<li class="flex-wr-sb-c p-b-20">
										<a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-facebook fs-16 cl0 hov-cl0">
											<span class="fab fa-facebook-f"></span>
										</a>

										<div class="size-w-3 flex-wr-sb-c">
											<span class="f1-s-8 cl3 p-r-20">
												6879 Fans
											</span>

											<a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
												Like
											</a>
										</div>
									</li>

									<li class="flex-wr-sb-c p-b-20">
										<a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-twitter fs-16 cl0 hov-cl0">
											<span class="fab fa-twitter"></span>
										</a>

										<div class="size-w-3 flex-wr-sb-c">
											<span class="f1-s-8 cl3 p-r-20">
												568 Followers
											</span>

											<a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
												Follow
											</a>
										</div>
									</li>

									<li class="flex-wr-sb-c p-b-20">
										<a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-youtube fs-16 cl0 hov-cl0">
											<span class="fab fa-youtube"></span>
										</a>

										<div class="size-w-3 flex-wr-sb-c">
											<span class="f1-s-8 cl3 p-r-20">
												5039 Subscribers
											</span>

											<a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
												Subscribe
											</a>
										</div>
									</li>
								</ul>
							</div>

							<!-- Most Popular -->
							{# <div class="p-b-30">
								<div class="how2 how2-cl4 flex-s-c">
									<h3 class="f1-m-2 cl3 tab01-title">
										Most Popular
									</h3>
								</div>

								<ul class="p-t-35">
									<li class="flex-wr-sb-s p-b-22">
										<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
											1
										</div>

										<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit
										</a>
									</li>

									<li class="flex-wr-sb-s p-b-22">
										<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
											2
										</div>

										<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
											Proin velit consectetur non neque
										</a>
									</li>

									<li class="flex-wr-sb-s p-b-22">
										<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
											3
										</div>

										<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
											Nunc vestibulum, enim vitae condimentum volutpat lobortis ante
										</a>
									</li>

									<li class="flex-wr-sb-s p-b-22">
										<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
											4
										</div>

										<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
											Proin velit justo consectetur non neque elementum
										</a>
									</li>

									<li class="flex-wr-sb-s p-b-22">
										<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0">
											5
										</div>

										<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
											Proin velit consectetur non neque
										</a>
									</li>
								</ul>
							</div> #}

							<!--  -->
							{# <div class="flex-c-s p-t-8 p-b-65">
								<a href="#">
									<img class="max-w-full" src="images/banner-02.jpg" alt="IMG">
								</a>
							</div> #}

							<!-- Video -->
							{# <div class="p-b-55">
								<div class="how2 how2-cl4 flex-s-c m-b-35">
									<h3 class="f1-m-2 cl3 tab01-title">
										Featured Video
									</h3>
								</div>

								<div>
									<div class="wrap-pic-w pos-relative">
										<img src="images/video-01.jpg" alt="IMG">

										<button class="s-full ab-t-l flex-c-c fs-32 cl0 hov-cl10 trans-03" data-toggle="modal" data-target="#modal-video-01">
											<span class="fab fa-youtube"></span>
										</button>
									</div>

									<div class="p-tb-16 p-rl-25 bg3">
										<h5 class="p-b-5">
											<a href="#" class="f1-m-3 cl0 hov-cl10 trans-03">
												Music lorem ipsum dolor sit amet consectetur
											</a>
										</h5>

										<span class="cl15">
											<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
												by John Alvarado
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												Feb 18
											</span>
										</span>
									</div>
								</div>
							</div> #}

							<!-- Subscribe -->
							{# <div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-55">
								<h5 class="f1-m-5 cl0 p-b-10">
									Subscribe
								</h5>

								<p class="f1-s-1 cl0 p-b-25">
									Get all latest content delivered to your email a few times a month.
								</p>

								<form class="size-a-9 pos-relative">
									<input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="Email">

									<button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03">
										<i class="fa fa-arrow-right"></i>
									</button>
								</form>
							</div> #}

							<!-- Tag -->
							{# <div class="p-b-55">
								<div class="how2 how2-cl4 flex-s-c m-b-30">
									<h3 class="f1-m-2 cl3 tab01-title">
										Tags
									</h3>
								</div>

								<div class="flex-wr-s-s m-rl--5">
									<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										Fashion
									</a>

									<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										Lifestyle
									</a>

									<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										Denim
									</a>

									<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										Streetstyle
									</a>

									<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										Crafts
									</a>

									<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										Magazine
									</a>

									<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										News
									</a>

									<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
										Blogs
									</a>
								</div>
							</div> #}

						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<span class="fas fa-angle-up"></span>
			</span>
		</div>
	</body>
{% endblock %}
